
body{
	background-color: #fdf8ef;
}
	.container-fluid{
		float: none;
		margin: 0 auto;
		/*width: 1500px;*/
		/*width: 100%;*/
		color: #fff;
		font-family: Roboto;
		font-style: normal;

	}
	.grid h3{
		font-family: Roboto Medium;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: normal;
	}

	.container{
		background-color: #fdf8ef;
		color: #6aae19;
		float: none;
		margin: 0 auto;
		width: 1280px;
		vertical-align: top;

	}
	.main{
		width: 78%;
		float: left;

	}
	.sidebar{
		float: right;
	
		width: 22%;
	}
	#search{
		cursor: pointer;
		margin-top: 0px;
		margin-left: 0px;
		height: 38px;
		width: 620px;
	}
	.search-block{
		display: inline;
		float: right;
		width: 820px;
		margin-right: 30px;
		height: 45px;
		float: right;
		border: 4px solid #8bbf4f;
		margin-bottom: 20px;
	}
	.btn-search-drop{
		cursor: pointer;
		padding-top: 8px;
		margin-top: 2px;
		border: 1px solid
		position: absolute;
		z-index: 99;
		text-align: center;
		/*margin-right: 20px;*/
		height: 35px;
		background-color: #fff;
		
	}
	.btn-search-go{
		cursor: pointer;
		background-color: #8bbf4f;
		padding-top: 10px;
		text-align: center;
		height: 38px;
		width: 80px;
		float: right;
	}
	.logo{
		margin-top: 20px;
		margin-left: 10px;
	}
	.grid img{
		margin-left: 5px;
		margin-top: 15px;
		width: 280px;
		height: 200px;
	}
	#small-modal{
		display: block;
	}
	.top-l-corn-links{
		text-align: right;
		margin-right: 30px;
	}
	nav ul{
		float: left;
	}
	ul.menu {
		text-align: left;
		width: 600px;
			float: right;
		vertical-align: top;
		list-style-type: none;
		margin-top:0px;
		margin-left:20px;
		margin-right:20px;
	}
	
	h2{
		font-family: Roboto;
		font-weight: bold;
	}
	.menu li{
		margin-left: 20px;
	 text-align: center;
	 float: right;
	 
		
	}
	ul.menu2 {
		text-align: left;
		width: 800px;
			float: left;
		vertical-align: top;
		list-style-type: none;
		margin-top:15px;
		margin-left:0px;
		margin-right:20px;
		border-bottom: 2px solid #e3dbd9;
	}
	.menu2 li{
		padding-left: -10px;
		padding-right: -10px;
		margin-left: 0px;
	 	text-align: center;
	 	float: left;
	 	display: block;
	
	 
		height: 52px;
		
	}
	.menu2 a {
	  
	  width: 20%;
	  text-align: left;
	  margin: 0;
	  text-decoration: none;
	  color: #006699;
	  display: inline;

	}
	.menu2 li:hover{
		background-image: url(../_img/i_tab_hover.png);
		background-size: cover;
		background-position: center; 

	}

	
	.menu a {
	  
	  width: 20%;
	  text-align: right;
	  margin: 0;
	  text-decoration: none;
	  color: #006699;
	  display: inline;

	}
	.menu a:hover{
		color: #000;
	}
	
	
		  /*@media all and (max-width: 100%;) {*/
	
			
	@font-face{
		font-family: MinionProS;
		src: url(./_fonts/MinionPro-Semibold.otf);
		font-weight: bold;
	}
	


	nav.navbar{
		background-color: #08012a;
	}
	.navbar-default{
		vertical-align: middle;
		
		border: 0px;
		border-color: inherit;
		margin-bottom: 0px;
	}
	h1{
		margin-left: 20px;
		margin-top: 0px;
		padding-top: 20px;
		font-size: 40px;
	}

	h2{
		margin-top: 35px;
		font-size: 40px;
		margin-bottom: 0px;
	}
	
	
	.nav{
		/*margin-left: 80px;
		color: inherit;
		padding-top: 8px;*/
	}
	.navbar-header{
		text-align: center;
		margin-top: 10px;

	}
	.navbar-default .navbar-nav>li>a{
		color: #fff;
		width: 190px;
		font-size: 24px;
		text-align: center;
	}
	.navbar-default .navbar-nav>li>a:hover{
		color: #e5ac00;
	}
	.navbar-default .navbar-brand{
		margin-left: 30px;
		
		color: #fff;
	}

	.navbar-default .navbar-brand:hover{
		color: #e5ac00;
	}
	.navbar-brand{
		line-height: 1.2;
		text-align: center;
		font-size: 30px;
		width: 200px;

	}

	.nav a{
		
		color: inherit;
		font-size: 20px;
		/*margin-bottom: 30px;*/
	}
	.nav li a{
		line-height: 1.3;

	}
	ul.nav {

		margin-top: 10px;
		margin-bottom: 40px;
	}
	.2nd_tight{
		margin-left: 35px;
	}
	.phone{

		margin-top: 28px;
		font-size: 26px;
		float: right;
		margin-right: 20px;
	}
	
	.phone b{
		font-size: 30px;
	}
	.banner-h-top img{
		margin-left: 15px;
		margin-top: 5px;
		width: 930px;
	}
	.section1{

		
		background-image: url(../_img/sback1.png);
		background-size: cover;
		vertical-align: middle;
		height: 613px;

	}
	
	.button{
		
		/*display: inline-block;*/
		float: none;
		margin:  0 auto;
		margin-top: 20px;
		display: table;
	    table-layout: fixed;
		text-align: center;
	    margin-bottom: 50px !important;
		background-image: url(../_img/button2.png) ;
		background-repeat: no-repeat;
		
		width: 306px;
		height: 75px;
		
		}
	.button a{
		color: #000;
		font-size: 24px;
		display:table-cell;
		width: 200px;
	    vertical-align:middle;
	    text-align:center;

	}
	.button a:hover{
		color: #fff;
		font-style: normal;

	}


	
	
	.cimg {
		width: 164px;
	}
	.grid+.grid {
		
		margin-top: 30px;
	}
	.grid img{
		
	}
	.grid{
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: url(../_img/grid_shadow.png);
		background-size: cover;
		height: 300px;
		width: 300px;
	}

	.col-md-3{
		margin-left: 10px;

		
	}
	.col-md-3+.col-md-3{
		margin-left: 70px;
	}

	
	




	.modal-content input.feedback{
		float: none;
		height: 60px;
		margin-top: 20px;
		/*width: 100%;*/
		font-size: 24px;
		background-color: #e5ac00;
		color: #000;
	}
	.feedback{
		margin-top: 20px;
		margin-bottom: 15px !important;
	}
	
	/*h2{ position:relative; }
	h2 span{ position:absolute; top:-150px;}
	h3{ position:relative; }
	h3 span{ position:absolute; top:-150px;}
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

/* Dropdown Button */
.dropbtn {
    /*background-color: #fff;*/
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
	width: 250px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.widget_title{
	padding-left:10px;
	width:240px;
	background-color: #578724;
	color: #fff !important;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: #3e8e41;
	
}
.pop1{
	margin-top: 60px;
	margin-left: 0%;
}
.pop2{
	margin-top: 60px;
	margin-left: 10%;
}
.pop3{
	margin-top: 60px;
	margin-left: 20%;
}
.pop4{
	margin-top: 60px;
	margin-left: 25%;
}
.pop5{
	margin-top: 60px;
	margin-left: 40%;
}
/* Show the dropdown menu on hover */
.pop1:hover, .pop1.a:hover{
	z-index: 999;
	display: block;
}
.pop2:hover, .pop2.a:hover{
	z-index: 999;
	display: block;
}
.pop3:hover, .pop3.a:hover{
	z-index: 999;
	display: block;
}
.pop4:hover, .pop4.a:hover{
	z-index: 999;
	display: block;
}
.pop1 a.more:hover+.pop5{
	z-index: 999;
	display: block;
}
.pop5:hover, .pop5.a:hover{
	z-index: 999;
	display: block;
}
.pop6:hover, .pop6.a:hover{
	z-index: 999;
	display: block;
}
.pop:hover, .pop.a:hover{
	z-index: 999;
	display: block;
}
li.one:hover + div.pop1 {
	z-index: 999;
    display: block;
} 
/*.pop1.a:hover + div.pop1>div.pop5{
	z-index: 999;
    display: block;
} */
li.two:hover + div.pop2 {
	z-index: 999;
    display: block;
} 
li.three:hover + div.pop3 {
	z-index: 999;
    display: block;
} 
li.four:hover + div.pop4 {
	z-index: 999;
    display: block;
} 
li.five:hover+div.pop5{
	float: right;
	margin-right: 20px;
}
li.six:hover+div.pop6{
	float: right;
	margin-right: 20px;
}
li.first:hover+div.pop{
	float: right;
	margin-right: 20px;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #3e8e41;
}

.info-block-bottom{
	color: #000;
}
.banner-h-bottom{
	margin-top: 20px;
}
.side-slider1{
	width: 248px;
}
.side-slider2{
	width: 248px;
}
