
body{
	background-color: #fdf8ef;
}
body a{
	/*text-decoration: underline;*/
}
.menu li{
	text-decoration: underline;
}
.dropdown-menu{
	display: none;
}
	.container-fluid{
		float: none;
		margin: 0 auto;
		/*width: 1500px;*/
		/*width: 100%;*/
		color: #fff;
		font-family: Roboto Regular;
		font-style: normal;

	}
	.grid h3{
		margin-top: 0px;
		padding-top: 20px;
		margin-right: 20px;
		margin-left: 10px;
		background-color: #fff;
		height: 70px;
		width: 285px;
		font-family: Roboto;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 700;
	}
	.top .container
	{
		height: 90px;
		background-color: #fff;
	}
	.container{
		background-color: #fdf8ef;
		color: #000;

		width: 1300px;
		vertical-align: top;

	}
	.main{
		width: 78%;
		float: left;

	}

	.sidebar{
		float: right;

		width: 22%;
	}
	#search{
		cursor: pointer;
		background-color: #fff;
		margin-top: 0px;
		padding-left: 10px;
		height: 38px;
		width: 570px;
		border: none;
		color: #9b9b9b;
	}
	.side-banner{
		padding-left: 4px;
	}

	.search-block{
		display: inline;
		float: right;
		width: 830px;
		margin-right: 30px;
		height: 46px;
		background-color: #fff;
		float: right;
		border: 4px solid #8bbf4f;

		margin-top: 20px;
	}
	.search-block img{
		margin-left: 14px;
		margin-right: 2px;
	}
	.btn-search-drop{
		display: inline-block;
		width: 128px;
		color: rgb( 25, 21, 8 );
		font-weight: 700;
		cursor: pointer;
		padding-top: 0px;
		padding-right: 25px;
		/*margin-top: 2px;*/
		/*border: 1px solid;*/
		position: relative;
		z-index: 99;
		text-align: center;
		/*margin-right: 20px;*/
		height: 28px;
		background-color: #fff;
		padding-right: 2px;

	}
	.btn-search-go{
		cursor: pointer;
		background-color: #8bbf4f;
		padding-top: 10px;
		text-align: center;
		height: 40px;
		width: 80px;
		float: right;
	}
	.logo{
		margin-top: 20px;
		margin-left: 10px;
	}
	.grid img{
		margin-left: 5px;
		margin-top: 15px;
		width: 280px;
		height: 200px;
	}
	#small-modal{
		display: block;
	}
	.top-l-corn-links{
		height: 20px;
		/*margin-bottom: 20px;*/
		margin-top: 10px;
		text-align: right;
		margin-right: 30px;
	}
	nav ul{
		float: left;
	}
	ul.menu {
		text-align: left;
		width: 600px;
		float: right;
		vertical-align: top;
		list-style-type: none;
		margin-top:0px;
		margin-left:20px;
		margin-right:20px;
	}

	h2{
		font-family: Roboto;
		font-weight: bold;
	}
	.menu li:nth-child(3){
		border-left: 0px;
	}
	.menu a{
		color: #006699;
	}
	.menu img{
		margin-left: 10px;
	}
	.menu li{
		height: 24px;
		padding-left: 10px;
		margin-left: 20px;
	 	text-align: center;
	 	float: right;
	 	border-left: 1px solid #e3dbd9;


	}
	ul.menu2 {
		text-align: left;
		width: 800px;
			float: left;
		vertical-align: top;
		list-style-type: none;
		margin-top:15px;
		margin-left:0px;
		margin-right:20px;
		border-bottom: 4px solid #e3dbd9;
	}
	.menu2 li{
		padding-left: -10px;
		padding-right: -10px;
		margin-left: 0px;
	 	text-align: center;
	 	float: left;
	 	display: block;


		height: 52px;

	}
	.menu2 a {

	  width: 20%;
	  text-align: left;
	  margin: 0;
	  text-decoration: none;
	  color: #006699;
	  display: inline;

	}
	ul.nav{
		margin-top: 10px;
		margin-left: 30px;
	}
	 div.main > nav > ul > li{
	 	height: 64px;
	 	padding-top: 10px;
	 	border-bottom: 3px solid #e3dbd9;
		/*z-index: 99;*/
		/*background-image: url(../_img/i_tab_hover.png) !important;
		background-size: cover !important;
		*/

	}
	div.main > nav > ul > li.active{

		height: 72px;
		border-bottom: 0px;
		font-weight: 700;
		/*padding-bottom: 15px;*/
		width: auto;

		background-image: url(../_img/i_tab_hover.png) !important;
		background-size: cover;
		background-color: transparent;
		background-position: center;
	}
	div.main > nav > ul > li:hover{

		height: 72px !important;
		padding-top: 10px;
		padding-bottom: 4px;
		border-bottom: 2px;
		font-weight: 700;
		/*padding-bottom: 15px;*/
		z-index: 999;
		width: auto;
		background-image: url(../_img/i_tab_hover.png) !important;
		background-size: cover;
		/*background-color: transparent;*/
		background-position: center;
	}
	.icon-img{
		margin-bottom: 5px;
	}
	/*css for nav buttons arrows*/
	.arrow_box {
		position: relative;
		background: #e3dbd9;
		border: 4px solid #8bbf4f;
		}
	.arrow_box:after, .arrow_box:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		}

	.arrow_box:after {
		border-color: rgba(227, 219, 217, 0);
		border-top-color: #e3dbd9;
		border-width: 8px;
		margin-left: -8px;
		}
	.arrow_box:before {
		border-color: rgba(139, 191, 79, 0);
		border-top-color: #8bbf4f;
		border-width: 14px;
		margin-left: -14px;
		}
	/*end arrow code*/
	div.main > nav > ul > li:hover{
		background-color: transparent;
		padding-bottom: 15px;
		z-index: 999;
		width: auto;
		height: auto;
		background-image: url(../_img/i_tab_hover.png) !important;
		background-size: cover !important;

		background-position: center;
	}
	div.main > nav > ul > li:hover a{
		border: 0px;
		background-color: transparent;
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
		background-color: transparent;
	}
	.nav-tabs{
		border-bottom: 0px;
	}
	.nav-tabs>li.active>a:focus{

	/*	z-index: 999;
		width: auto;
		height: auto;
		background-image: url(../_img/i_tab_hover.png) !important;
		background-size: cover !important;
		background-position: center;
		*/
	}
	.nav-tabs li{
		padding-top: 10px;
		padding-bottom: 45px;

	}
	.menu a {

	  width: 20%;
	  text-align: right;
	  margin: 0;
	  text-decoration: none;

	  display: inline;

	}
	.menu a:hover{
		color: #000;
	}


		  /*@media all and (max-width: 100%;) {*/


	@font-face{
		font-family: MinionProS;
		src: url(./_fonts/MinionPro-Semibold.otf);
		font-weight: bold;
	}



	nav.navbar{
		background-color: #08012a;
	}
	.navbar-default{
		vertical-align: middle;

		border: 0px;
		border-color: inherit;
		margin-bottom: 0px;
	}
	h1{
		margin-top: 65px;
		color: #6aae19;
		margin-left: 20px;

		padding-top: 20px;
		font-size: 25px;
		font-weight: 700;
	}

	h2{
		color: #6aae19;
		margin-top: 35px;
		font-size: 25px;
		margin-bottom: 0px;
		font-weight: 700;
	}


	.nav{
		/*margin-left: 80px;
		color: inherit;
		padding-top: 8px;*/
	}
	.top .container{
		padding-left: 0px;
		padding-right: 0px;
	}
	.container-fluid{
		height: 90px;
		background-color: #fff;
		margin-bottom: 20px;
	}
	.navbar-header{
		text-align: center;
		margin-top: 10px;

	}
	.header{
		margin-right: 15px;
		margin-bottom: 20px;
		padding-top: 0px;
		height: 90px;
		background-color: #fff;
		margin-top: 0px;
	}
	.navbar-default .navbar-nav>li>a{
		color: #fff;
		width: 190px;
		font-size: 24px;
		text-align: center;
	}
	.navbar-default .navbar-nav>li>a:hover{
		color: #e5ac00;
	}
	.navbar-default .navbar-brand{
		margin-left: 30px;

		color: #fff;
	}

	.navbar-default .navbar-brand:hover{
		color: #e5ac00;
	}
	.navbar-brand{
		line-height: 1.2;
		text-align: center;
		font-size: 30px;
		width: 200px;

	}

	.nav a{

		color: inherit;
		font-size: 20px;
		/*margin-bottom: 30px;*/
	}
	.nav li a{
		line-height: 1.3;

	}
	ul.nav {

		margin-top: 10px;
		margin-bottom: 40px;
	}
	.2nd_tight{
		margin-left: 35px;
	}
	.phone{

		margin-top: 28px;
		font-size: 26px;
		float: right;
		margin-right: 20px;
	}

	.phone b{
		font-size: 30px;
	}
	.banner-h-top img{
		margin-left: 15px;
		margin-top: 5px;
		width: 930px;
	}
	.section1{


		background-image: url(../_img/sback1.png);
		background-size: cover;
		vertical-align: middle;
		height: 613px;

	}

	.button{

		/*display: inline-block;*/
		float: none;
		margin:  0 auto;
		margin-top: 20px;
		display: table;
	    table-layout: fixed;
		text-align: center;
	    margin-bottom: 50px !important;
		background-image: url(../_img/button2.png) ;
		background-repeat: no-repeat;

		width: 306px;
		height: 75px;

		}
	.button a{
		color: #000;
		font-size: 24px;
		display:table-cell;
		width: 200px;
	    vertical-align:middle;
	    text-align:center;

	}
	.button a:hover{
		color: #fff;
		font-style: normal;

	}




	.cimg {
		width: 164px;
	}
	.grid+.grid {

		margin-top: 30px;
	}
	.grid img{

	}
	.grid{
		text-align: center;
		vertical-align: middle;
		cursor: pointer;

		background-image: url(../_img/grid_shadow.png);
		background-size: cover;
		height: 300px;
		width: 300px;
	}

	.col-md-3{
		margin-left: 0px;


	}
	.col-md-3+.col-md-3{
		margin-left: 70px;
	}







	.modal-content input.feedback{
		float: none;
		height: 60px;
		margin-top: 20px;
		/*width: 100%;*/
		font-size: 24px;
		background-color: #e5ac00;
		color: #000;
	}
	.feedback{
		margin-top: 20px;
		margin-bottom: 15px !important;
	}

	/*h2{ position:relative; }
	h2 span{ position:absolute; top:-150px;}
	h3{ position:relative; }
	h3 span{ position:absolute; top:-150px;}
/* carousel */
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
/*.media-carousel img
{
  width: 250px;
  height: 100px
}*/
/* End carousel */



.logo{
	position: absolute;
	display: block;
	/*margin-top: 30px;*/
	margin-left: 10px;
}
.info-block-bottom{
	margin-left: 10px;
	font-size: 14px;
	color: #000;
	padding-bottom: 100px;
	width: 920px;
}
.info-block-bottom a{
	text-decoration: underline;
}
.banner-h-bottom{

	margin-left: 15px;
	margin-top: 20px;
}
.banner-h-bottom img{
	width: 930px;
}
.slider-block a{
	text-decoration: underline;
}
.side-slider1 .carousel-inner{
	width: 180px !important;
	padding-right: 10px;
}
.side-slider2{
	width: 248px;
	height: 300px;
}
.footer, .footer .container{
	font-family: Roboto;
	background-color: #fff;

}
.footer{
	padding-top: 30px;
}

.footer span{
	font-size: 14px;
	font-weight: 500;

}
.footer ul{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;


}
.footer ul li a{

	color: #888888;

}
.footer b{
	font-size: 16px;
	font-family: Roboto;
	font-weight: bold;
}
.footer p{
	width: 240px;
}
.footer-info img{

	margin-right: 15px;
}
.footer-info{
	line-height: 1.8;

}
.slider-block{
	padding-top: 0px;
	padding-right: 5px;
	background-color: #fff;
	/*display: table-cell;*/
	height: 200px;
	width: auto;
	/*vertical-align: middle;*/
	/*position: absolute;
    top: 50%;
    left: 50%;*/

}
a.thumbnail{
	width: auto;
	height: auto;
}
.thumbnail img{


}
.media-carousel .carousel-control.left{
	border-radius: 0px;
	/*background-image: url("_img/i_nav_arrow_left.png");*/
	height: 17px;
	width: 12px;
	background-size: cover;
	background-color: #fff;


}
.media-carousel .carousel-control.right{
	/*background-image: url("_img/i_nav_arrow_right.png");*/
	margin-top: 30px;

	height: 17px;
	width: 12px;
	border-radius: 0px ;
	background-color: #fff;


}

.redthumb{
	text-decoration: underline;
	color: #c00000;
	font-size: 16px;
	font-weight: 700;
	margin-right: 10px;
	margin-bottom: 10px;
}
.tab-pane{
	margin-top: 0px;
}
.tab-content{

	padding-right: 20px;
	padding-bottom: 20px;
}
.tab-content .row{
	margin-right: 20px;
	margin-left: 20px;
}
#home .row{
	margin-right: 0px;
	margin-left: 0px;
}
.sidebar .media-carousel .left{
	margin-left: 20px;
	padding-top: 50px;

}
.sidebar .media-carousel .right{
	margin-right: 20px;
	padding-top: 50px;

}
/* DD list styles*/
dl {

	margin-bottom:50px;

}

dl dt {
	background:#5f9be3;
	color:#fff;
	float:left;
	font-weight:bold;
	margin-right:10px;
	padding:5px;
	width:100px;
}

dl dd {
	margin:2px 0;
	padding:5px 0;
}

nav.row{

}
.info-block{
	width: 910px;
}
.banner-slider-bottom{
	margin-left: 30px;
	width: 930px;
}
.slide{
	height: 200px;
	width: 250px;
}
.side-slider2 .carousel-inner{
	height: 300px;
}
.slider-block .thumbnail{
	border:0px;
}
.slider-block{
	margin-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.banner-slider-bottom .col-md-12{

	width: 930px;
}
.main h2{
	margin-left: 20px;
}
.side-slider2 .slider-block{
	background-color: transparent !important;
	height: 350px;
}
.side-slider2 .slide{
	height: 430px;
}
.side-slider2 a{
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
}
.media-carousel .carousel-control.left{
	border: 0px;
	background-color: transparent;
}
.media-carousel .carousel-control.right{
	border: 0px;
	background-color: transparent;
}
a.carousel-control {
	background-color: transparent;
}
.side-slider2 .carousel-control{
	padding-top: 135px !important;
	background-color: transparent;

}
.side-slider2 .carousel-inner{
	height: 410px;
	width: 180px;
	padding-right: 10px;
	background-color: transparent;
}
.slider3 .carousel-inner .col-md-2+.col-md-2{

	margin-left: -30px;

	padding-left: 20px;

}

.slide3 a.right{
	margin-right: 40px;
}
.up-button{
	cursor: pointer;
	margin-top:50px;
	position: absolute;
	margin-left: 0px;
	z-index: 99;
}
.footer-logo{
	margin-left: 50px;
}