Roboto Regular*/

	.container-fluid{
		float: none;
		margin: 0 auto;
		/*width: 1500px;*/
		/*width: 100%;*/
		color: #fff;
		

	}

	.container{
		background-color: #fdf8ef;
		color: #6aae19;
		float: none;
		margin: 0 auto;
		width: 1280px;
		vertical-align: top;

	}
	.main{
		width: 78%;
		float: left;

	}
	.sidebar{
		float: right;
	
		width: 22%;
	}
	#search{
		margin-top: 0px;
		margin-left: 0px;
		height: 38px;
		width: 620px;
	}
	.search-block{
		display: inline;
		float: right;
		width: 820px;
		
		height: 45px;
		float: right;
		border: 4px solid #8bbf4f;
		margin-bottom: 20px;
	}
	.btn-search-drop{
		padding-top: 8px;
		margin-top: 2px;
		border: 1px solid
		position: absolute;
		z-index: 99;
		text-align: center;
		/*margin-right: 20px;*/
		height: 35px;
		background-color: #fff;
		
	}
	.btn-search-go{
		background-color: #8bbf4f;
		padding-top: 10px;
		text-align: center;
		height: 38px;
		width: 80px;
		float: right;
	}
	.logo{
		margin-top: 20px;
		margin-left: 10px;
	}
	.grid img{
		margin-left: 5px;
		margin-top: 15px;
		width: 280px;
		height: 200px;
	}
	#small-modal{
		display: block;
	}
	.top-l-corn-links{
		text-align: right;
		margin-right: 30px;
	}
	nav ul{
		float: left;
	}
	ul.menu {
		text-align: left;
		width: 600px;
			float: right;
		vertical-align: top;
		list-style-type: none;
		margin-top:0px;
		margin-left:20px;
		margin-right:20px;
	}
	
	h2{
		font-family: Roboto;
		font-weight: bold;
	}
	.menu li{
		margin-left: 20px;
	 text-align: center;
	 float: right;
	 
		
	}
	ul.menu2 {
		text-align: left;
		width: 800px;
			float: left;
		vertical-align: top;
		list-style-type: none;
		margin-top:0px;
		margin-left:20px;
		margin-right:20px;
	}
	.menu2 li{
		margin-left: 20px;
	 text-align: center;
	 float: left;
	 
		
	}

	.menu2 a {
	  
	  width: 20%;
	  text-align: left;
	  margin: 0;
	  text-decoration: none;
	  color: #006699;
	  display: inline;

	}
	.menu a {
	  
	  width: 20%;
	  text-align: right;
	  margin: 0;
	  text-decoration: none;
	  color: #006699;
	  display: inline;

	}
	.menu a:hover{
		color: #000;
	}
	
	
		  /*@media all and (max-width: 100%;) {*/
	
			
	@font-face{
		font-family: MinionProS;
		src: url(./_fonts/MinionPro-Semibold.otf);
		font-weight: bold;
	}
	


	nav.navbar{
		background-color: #08012a;
	}
	.navbar-default{
		vertical-align: middle;
		
		border: 0px;
		border-color: inherit;
		margin-bottom: 0px;
	}
	h1{
		margin-top: 0px;
		padding-top: 20px;
		font-size: 40px;
	}

	h2{
		margin-top: 35px;
		font-size: 40px;
		margin-bottom: 0px;
	}
	
	
	.nav{
		/*margin-left: 80px;
		color: inherit;
		padding-top: 8px;*/
	}
	.navbar-header{
		text-align: center;
		margin-top: 10px;

	}
	.navbar-default .navbar-nav>li>a{
		color: #fff;
		width: 190px;
		font-size: 24px;
		text-align: center;
	}
	.navbar-default .navbar-nav>li>a:hover{
		color: #e5ac00;
	}
	.navbar-default .navbar-brand{
		margin-left: 30px;
		
		color: #fff;
	}

	.navbar-default .navbar-brand:hover{
		color: #e5ac00;
	}
	.navbar-brand{
		line-height: 1.2;
		text-align: center;
		font-size: 30px;
		width: 200px;

	}

	.nav a{
		
		color: inherit;
		font-size: 20px;
		/*margin-bottom: 30px;*/
	}
	.nav li a{
		line-height: 1.3;

	}
	ul.nav {

		margin-top: 10px;
		margin-bottom: 40px;
	}
	.2nd_tight{
		margin-left: 35px;
	}
	.phone{

		margin-top: 28px;
		font-size: 26px;
		float: right;
		margin-right: 20px;
	}
	
	.phone b{
		font-size: 30px;
	}
	.banner-h-top img{
		margin-left: 15px;
		margin-top: 5px;
		width: 930px;
	}
	.section1{

		
		background-image: url(../_img/sback1.png);
		background-size: cover;
		vertical-align: middle;
		height: 613px;

	}
	
	.button{
		
		/*display: inline-block;*/
		float: none;
		margin:  0 auto;
		margin-top: 20px;
		display: table;
	    table-layout: fixed;
		text-align: center;
	    margin-bottom: 50px !important;
		background-image: url(../_img/button2.png) ;
		background-repeat: no-repeat;
		
		width: 306px;
		height: 75px;
		
		}
	.button a{
		color: #000;
		font-size: 24px;
		display:table-cell;
		width: 200px;
	    vertical-align:middle;
	    text-align:center;

	}
	.button a:hover{
		color: #fff;
		font-style: normal;

	}


	
	
	.cimg {
		width: 164px;
	}
	.grid+.grid {
		
		margin-top: 30px;
	}
	.grid img{
		
	}
	.grid{
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: url(../_img/grid_shadow.png);
		background-size: cover;
		height: 300px;
		width: 300px;
	}

	.col-md-3{
		margin-left: 10px;

		
	}
	.col-md-3+.col-md-3{
		margin-left: 70px;
	}

	
	




	.modal-content input.feedback{
		float: none;
		height: 60px;
		margin-top: 20px;
		/*width: 100%;*/
		font-size: 24px;
		background-color: #e5ac00;
		color: #000;
	}
	.feedback{
		margin-top: 20px;
		margin-bottom: 15px !important;
	}
	
	/*h2{ position:relative; }
	h2 span{ position:absolute; top:-150px;}
	h3{ position:relative; }
	h3 span{ position:absolute; top:-150px;}
